#header {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

span {
    background: #4aaaa5;
    height: 61px;
    padding: 30px 0;
}

header {
background-color: white;
color: whitesmoke;
text-align: left;
width: 100%;
overflow: auto;
}

#mid {
/*border? padding size?
    padding: 10px;
    border?*/
}

form {
    display: block;
    background: #ffffff;
    padding: 22px;

}

.Gallery {
display: inline-block;
float: left;
margin: 5px;
padding: 0px;
width: 100%;
background: white;
}

figcaption {
    display: inline-block;
    width: 193px;
    background: #4aaaa5;
}

.desc {
    display: block;
    text-align: center;
    color: black;
    background: #4aaaa5;
    width: 30%;
    margin: auto;
}

#photo {
    float: left;
    margin: 0 15px 15px 0;
}

#bio {
    display: block;
    background: white;
    padding: 0px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 1px solid black;
}

Body {
background-color: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
width: 960px;
margin-left: auto;
margin-right: auto;
padding-top: 20px;

}


#footer {
    background-color: #666666;
    color: #ffffff;
    padding: 1px;
    clear: both;
}

span {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}