#header {
background-color: #4aaaa5;
color: whitesmoke;
text-align: left;
}

#mid {
/*border? padding size?
    padding: 10px;
    border?*/
}

#photo {
    float: left;
    margin: 0 15px 15px 0;
}

#bio {
    /*decide size
    float: right;*/
}


Body {
background-color: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
width: 960px;
margin-left: auto;
margin-right: auto;
padding-top: 20px;

}

#footer {
    background-color: #666666;
    color: #ffffff;
    padding: 1px;
}

span {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}